$Green: #81D7A6;
$DarkGreen: #4274EE;
$Orange: #F93C0E;
$DarkOrange: #EA977F;
$Blue: #4274EE;
$LinkColor: #F93C0E;
$DarkGrey: #2A2400;
$LightGrey: #EAE6E4;
$MiddleGrey: #B6B2B5;
$Red: #4274EE;
$DarkRed: #2D293D;
$LightRed: #E4E5C3;
$Background: #FFF;

// #E84E3C Red #E94642 #E74847
// #1BBB7E Green
// #184BFB Blue
// #1A1918 DarkGrey and #080206

// Red Leftover #E94642
